#main_content {
    user-select: text;
}

::selection {
    background-color: #FB8500;
    color: black;
}

h2 {
    font-weight: 600;
}

#err-spinner {
    margin: 24px;
    font-size: 4em;
    animation: rotate 5s linear infinite both;
    width: fit-content;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
        color: #854700;
    }

    20% {
        color: black;
    }

    50% {
        rotate: 180deg;
    }

    80% {
        color: #FB8500;
    }

    100% {
        rotate: 360deg;
        color: #854700;
    }
}

.popup {
    position: fixed;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    padding: 24px;
    background-color: white;
    z-index: 11;
    border-radius: 8px;
    box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.3);
}

.popupTitle,
.popupDesc {
    border: none;
    outline: none;
    width: 100%;
    font: 1em "Open Sans";
}

.popupTitle {
    font-size: 1.4em;
    font-weight: 600;
}

@media (max-width: 650px) {
    .popup {
        width: calc(100vw - 140px);
    }
}